body {font-family:  Arial, Verdana, Tahoma, Helvetica, sans-serif;
text-align: center;
width: auto;
h1 {color: rgb(0, 0, 0)} 
h2 {color: rgb(0, 0, 0)}
h3 {color:rgb(0, 0, 0)}

font-size: 16px;
}

/* modo claro */
body {
    background-color: white;
    color: black;
}

/*modo escuro */
body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3 {
    color: white;
}

/*links modo escuro */
body.dark-mode a {
    color: lightblue;
}